
.dots {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .indicator-dots {
    position: absolute;
    bottom: 4px;
  }
  .banner-dots .indicator-dots {
    bottom: 22px;
  }
  .indicator-dots span {
    display: inline-block;
    width: 7px;
    height: 4px;
    border-radius: 4px;
    background: #bfc1c6;
    margin-right: 2px;
  }
  .indicator-dots .active-dots {
    width: 15px;
    background: #3664dc;
  }
  .index-swiper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 135px;
  }